# Imports

The required packages to run this notebook.  
If any are missing use ``!{sys.executable} -m pip install <package>`` to install the package in the notebook environment

In [1]:
import os.path
import gc 
import pandas as pd
import csv
import sys
from ctypes import cdll, CDLL
from urllib import parse
#!{sys.executable} -m pip install beautifulsoup4
from bs4 import BeautifulSoup
#!{sys.executable} -m pip install nbimporter
import nbimporter
import ARCH_Helper as ah

# Download an archive
The script below makes a data folder with a subfolder for the dataset. Dataset option are "World", "German" or "Dutch", select these by altering the ``dataset`` variable. The script wil skip files that are already present on the system. If you want to redownload the files first remove the old files manually.  
If the download fails due to connection errors, rerun the script and will will notice that he file did not decompress and try again.  
Note: The html-file-information.csv can be very large and take several hours and fail. Consider putting the code below code in a loop if you want to run it over night, if the download fails it will try again and if successfull it will say it already has the desired file.

In [2]:
# Dataset option are "World", "German" or "Dutch"
Dataset = "World"

!mkdir data
!mkdir data/{Dataset}

if Dataset == "German":
    if not os.path.exists("data/German/domain-frequency.csv"):
        print("domain-frequency.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-germanNews_1st-in-month_1-hop_unique-EXTRACTION-20210818232425/DomainFrequencyExtraction/domain-frequency.csv.gz?access=VRQ4COI5RFEB6XTJZNQTBRLEZTTHJERL" --output data/German/domain-frequency.csv.gz
        print("domain-frequency.csv has been downloaded")
    else:
        print("domain-frequency.csv already exists")

    if not os.path.exists("data/German/domain-graph.csv"):
        print("domain-graph.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-germanNews_1st-in-month_1-hop_unique-EXTRACTION-20210818232425/DomainGraphExtraction/domain-graph.csv.gz?access=JKEPGQ6MUC72JQB23IXOC4KOLGJYDSMN" --output data/German/domain-graph.csv.gz
        print("domain-graph.csv has been downloaded")
    else:
        print("domain-frequency.csv already exists")

    if not os.path.exists("data/German/css-file-information.csv"):
        print("css-file-information.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-germanNews_1st-in-month_1-hop_unique-EXTRACTION-20210818232425/TextFilesInformationExtraction/css-file-information.csv.gz?access=I2WP4REJA3NOBU3TCAAL3OIGJKNXM46R" --output data/German/css-file-information.csv.gz
        print("css-file-information.csv has been downloaded")
    else:
        print("css-file-information.csv already exists")

    if not os.path.exists("data/German/js-file-information.csv"):
        print("js-file-information.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-germanNews_1st-in-month_1-hop_unique-EXTRACTION-20210818232425/TextFilesInformationExtraction/js-file-information.csv.gz?access=M3QSMFPLEHPZPWZIFSMZ6CT2OO7WYQ4M" --output data/German/js-file-information.csv.gz
        print("css-file-information.csv has been downloaded")
    else:
        print("js-file-information.csv already exists")
        
    if not os.path.exists("data/German/html-file-information.csv"):
        print("html-file-information.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-germanNews_1st-in-month_1-hop_unique-EXTRACTION-20210818232425/TextFilesInformationExtraction/html-file-information.csv.gz?access=E3BUHKL5P4Q3TD4LGXZV2AOMERYQ3GWL" --output data/German/html-file-information.csv.gz
        print("html-file-information.csv has been downloaded")
    else:
        print("html-file-information.csv already exists")
        
if Dataset == "World":
    if not os.path.exists("data/World/domain-frequency.csv"):
        print("domain-frequency.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-worldNews_1st-in-month_1-hop_unique-EXTRACTION-20210818232425/DomainFrequencyExtraction/domain-frequency.csv.gz?access=SMSQY3G6IGKGRWVLGCWMA7DMCHBCKQ4K" --output data/World/domain-frequency.csv.gz
        print("domain-frequency.csv has been downloaded")
    else:
        print("domain-frequency.csv already exists")

    if not os.path.exists("data/World/domain-graph.csv"):
        print("domain-graph.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-worldNews_1st-in-month_1-hop_unique-EXTRACTION-20210818232425/DomainGraphExtraction/domain-graph.csv.gz?sample=true&access=BZTA7LW5LUNMPGKWQMLKAUAXBV2E2AEC" --output data/World/domain-graph.csv.gz
        print("domain-graph.csv has been downloaded")
    else:
        print("domain-frequency.csv already exists")

    if not os.path.exists("data/World/css-file-information.csv"):
        print("css-file-information.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-worldNews_1st-in-month_1-hop_unique-EXTRACTION-20210818232425/TextFilesInformationExtraction/css-file-information.csv.gz?access=UZ4PWVRXXWPF53BHM7TTYNK24P7YAIXQ" --output data/World/css-file-information.csv.gz
        print("css-file-information.csv has been downloaded")
    else:
        print("css-file-information.csv already exists")

    if not os.path.exists("data/World/js-file-information.csv"):
        print("js-file-information.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-worldNews_1st-in-month_1-hop_unique-EXTRACTION-20210818232425/TextFilesInformationExtraction/js-file-information.csv.gz?access=54X7IV7QOOAJWGHKPRGDI7HIR6W6GKPI" --output data/World/js-file-information.csv.gz
        print("css-file-information.csv has been downloaded")
    else:
        print("js-file-information.csv already exists")
    
    if not os.path.exists("data/World/html-file-information.csv"):
        print("html-file-information.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-worldNews_1st-in-month_1-hop_unique-EXTRACTION-20210818232425/TextFilesInformationExtraction/html-file-information.csv.gz?access=JQEDT3PRXOS6OXZ7LA5EC55HQJVUASDX" --output data/World/html-file-information.csv.gz
        print("html-file-information.csv has been downloaded")
    else:
        print("html-file-information.csv already exists")

if Dataset == "Dutch":
    if not os.path.exists("data/Dutch/domain-frequency.csv"):
        print("domain-frequency.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-dutchNews_1st-in-month_1-hop_unique-EXTRACTION-20210916172606/DomainFrequencyExtraction/domain-frequency.csv.gz?access=QUQTRHVNIDKXN62S4D62XFHCFI7VDSH7" --output data/Dutch/domain-frequency.csv.gz
        print("domain-frequency.csv has been downloaded")
    else:
        print("domain-frequency.csv already exists")

    if not os.path.exists("data/Dutch/domain-graph.csv"):
        print("domain-graph.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-dutchNews_1st-in-month_1-hop_unique-EXTRACTION-20210916172606/DomainGraphExtraction/domain-graph.csv.gz?access=JUNESOMDTBYDNCCGVJI5MJHW45KHAIJZ" --output data/Dutch/domain-graph.csv.gz
        print("domain-graph.csv has been downloaded")
    else:
        print("domain-frequency.csv already exists")

    if not os.path.exists("data/Dutch/css-file-information.csv"):
        print("css-file-information.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-dutchNews_1st-in-month_1-hop_unique-EXTRACTION-20210916172606/TextFilesInformationExtraction/css-file-information.csv.gz?access=IGBKSGXJBL3L4IJ2LXS5NPJTOY77JCT5" --output data/Dutch/css-file-information.csv.gz
        print("css-file-information.csv has been downloaded")
    else:
        print("css-file-information.csv already exists")

    if not os.path.exists("data/Dutch/js-file-information.csv"):
        print("js-file-information.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-dutchNews_1st-in-month_1-hop_unique-EXTRACTION-20210916172606/TextFilesInformationExtraction/js-file-information.csv.gz?access=RPZKGWUTWJBIRKOKKHGECB7W4OHUATMO" --output data/Dutch/js-file-information.csv.gz
        print("css-file-information.csv has been downloaded")
    else:
        print("js-file-information.csv already exists")
    
    if not os.path.exists("data/Dutch/html-file-information.csv"):
        print("html-file-information.csv is not present")
        !curl "https://webdata.archive-it.org/ait/arch:cohort.helmond/research_services/download/SPECIAL-dutchNews_1st-in-month_1-hop_unique-EXTRACTION-20210916172606/TextFilesInformationExtraction/html-file-information.csv.gz?access=52ZOSNQQMFWKW42WMQPNMGKYLEVUQHUC" --output data/Dutch/html-file-information.csv.gz
        print("html-file-information.csv has been downloaded")
    else:
        print("html-file-information.csv already exists")

unzip = "find data/" +Dataset +" -name '*.gz' -exec gunzip {} \;"
!{unzip}

mkdir: cannot create directory ‘data’: File exists
mkdir: cannot create directory ‘data/World’: File exists
domain-frequency.csv already exists
domain-frequency.csv already exists
css-file-information.csv already exists
js-file-information.csv already exists
html-file-information.csv already exists

# Extract wepages holding signs for the Disqus commenting system in their HTML

The code bellow looks through a dataset for any indicators for the presence of the disqus commenting system. The input for ```filter_csv_content_regex``` is the desired dataset file, the regular expression and the chunksize.

In [3]:
# Options are "data/German/html-file-information.csv" "data/World/html-file-information.csv" and "data/Dutch/html-file-information.csv"
# or any other dataset on the system.
dataset = "data/World/html-file-information.csv"
chunksize = 10000

In [4]:
disqus_embed_df = ah.filter_csv_content_regex(dataset, "(?i)disqus\.com\/embed\.js", chunksize)
disqus_embed_df['disqus_embed']=True
print("Embed hits: ", len(disqus_embed_df))

Embed hits:  6840

In [5]:
disqus_identifier_df = ah.filter_csv_content_regex(dataset, "(?i)data-disqus-identifier", chunksize)
disqus_identifier_df['disqus_identifier']=True
print("Identifier hits: ", len(disqus_identifier_df))

Identifier hits:  10156

In [6]:
disqus_thread = ah.filter_csv_content_regex(dataset, "(?i)disqus_thread", chunksize)
disqus_thread['disqus_thread']=True
print("thread hits: ", len(disqus_thread))

thread hits:  21143

Only use domains within the research scope

In [7]:
domains_in_scope = ["https://cnn.com","https://www.nytimes.com/","https://www.theguardian.com/","https://www.indiatimes.com/","https://www.foxnews.com/","https://www.washingtonpost.com/","https://usatoday.com","https://www.cnbc.com","http://www.chinadaily.com.cn/","https://www.thehindu.com/","https://www.wsj.com","https://nypost.com/","https://www.huffingtonpost.com","https://abcnews.go.com/","https://www.bbc.com/","https://www.dailymail.co.uk/","https://timesofindia.indiatimes.com/","https://www.independent.co.uk/","https://www.smh.com.au/","https://www.telegraph.co.uk/","https://www.latimes.com/","https://www.sfgate.com/","https://www.nbcnews.com/","https://buzzfeednews.com","https://aljazeera.com","https://rt.com","https://reuters.com","https://npr.org","https://sputniknews.com","https://cbsnews.com","https://cbc.ca","https://abc.net.au","https://time.com","https://mirror.co.uk","https://thesun.co.uk","https://euronews.com","https://ctvnews.ca","https://vox.com","https://scmp.com","https://france24.com","https://express.co.uk","https://news.sky.com","https://news24.com","https://globalnews.ca","https://channelnewsasia.com","https://rawstory.com","https://washingtontimes.com","https://todayonline.com","https://dailytelegraph.com.au","https://csmonitor.com"]
domains_in_scope = list(map(ah.to_domain, domains_in_scope))
disqus_embed_df = ah.filter_dataframe_domains(disqus_embed_df, domains_in_scope).reset_index(drop=True)
disqus_identifier_df = ah.filter_dataframe_domains(disqus_identifier_df, domains_in_scope).reset_index(drop=True)
disqus_thread = ah.filter_dataframe_domains(disqus_thread, domains_in_scope).reset_index(drop=True)

In [8]:
print("Embed hits: ", len(disqus_embed_df))
print("Identifier hits: ", len(disqus_identifier_df))
print("thread hits: ", len(disqus_thread))

Embed hits:  6375
Identifier hits:  9720
thread hits:  20202

Merge individual searches

In [9]:
disqus_df = disqus_embed_df.merge(disqus_identifier_df, on=["crawl_date","url","filename","extension","mime_type_web_server","mime_type_tika","md5", "sha1","content"], how='outer')
disqus_df = disqus_df.merge(disqus_thread, on=["crawl_date","url","filename","extension","mime_type_web_server","mime_type_tika","md5", "sha1","content"], how='outer')
disqus_df

,crawl_date,url,filename,extension,mime_type_web_server,mime_type_tika,md5,sha1,content,disqus_embed,disqus_identifier,disqus_thread
0,20140502,http://www.aljazeera.com/news/middleeast/2014/...,deadly-airstrike-hits-aleppo-school-2014430154...,xhtml,text/html,application/xhtml+xml,97f75c11640780e79baa7cbb8607ef51,12388fe00bc982f7a6e31214ed2c571cbd638af3,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...",True,NaN,True
1,20140501,http://www.aljazeera.com/news/middleeast/2014/...,invasion-kassab-were-evicted-20144271355531702...,xhtml,text/html,application/xhtml+xml,0e2b97df26e0f9f031a26a98ebb8d92d,8a64ff502bd8f2bbe40d557ebffb89f8cc700fcb,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...",True,NaN,True
2,20140502,http://www.aljazeera.com/news/middleeast/2014/...,iraq-security-forces-ambush-syria-fuel-convoy-...,xhtml,text/html,application/xhtml+xml,faee2d99cf89e66433c825116183a493,eb61533d434ae9a654d0937ebdcb6ee2cb231e2a,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...",True,NaN,True
3,20140531,http://www.aljazeera.com/news/middleeast/2014/...,israel-suspends-peace-talks-with-palestinians-...,xhtml,text/html,application/xhtml+xml,a8d7c5f0e3770c4adc2b6f50c235376b,97580ae0e5cb309c05f07c8895285739b944db2c,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...",True,NaN,True
4,20150102,http://www.aljazeera.com/news/middleeast/2014/...,child-soldiers-recruited-syria-war-20141231204...,xhtml,text/html,application/xhtml+xml,035019bdf7658ac317902ccaf66af542,eee01070ccab6143b60e72b69fd246750b99763e,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 T...",True,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
21750,20120104,http://www.independent.co.uk/news/media/online...,article6259894.ece,xhtml,text/html,application/xhtml+xml,7ff5bb0105edc9839419e1f0ecd916eb,dc7363e1eb19844a145895755b3efe46fdba06a2,"<!DOCTYPE html >\n<html xmlns=""http://www.w3.o...",NaN,NaN,True
21751,20120201,http://www.independent.co.uk/news/media/online...,free-trial-for-the-independents-new-ipad-app-6...,xhtml,text/html,application/xhtml+xml,94dddf8eeb231bb2422b781769817e52,0a23a4972a6692258f35ecdef9732822f9c76c52,"<!DOCTYPE html >\n<html xmlns=""http://www.w3.o...",NaN,NaN,True
21752,20110911,http://www.independent.co.uk/arts-entertainmen...,read-em-and-weep-the-literary-masters-of-miser...,xhtml,text/html,application/xhtml+xml,356648f2119ed7d0187b4bd2688d8734,b9ea600c69d7cf3b97329254afa255b5bbb9af9b,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 S...",NaN,NaN,True
21753,20110409,http://www.independent.co.uk/environment/clima...,solution-to-the-carbon-problem-could-be-under-...,xhtml,text/html,application/xhtml+xml,bc3276e25be1ea7154626afce7216fb7,a5445dfe83e845d430af9720e9d6f50bce6c9e1d,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 S...",NaN,NaN,True
21754,20111028,http://www.independent.co.uk/extras/indybest/f...,the-50-best-bars-1676748.html,xhtml,text/html,application/xhtml+xml,e1b67b48b1fb825c616e4c2f6e8ade98,44a7f6b91f53eeb0f370d9c2ebd336cf3d73a8a3,"<!DOCTYPE html PUBLIC ""-//W3C//DTD XHTML 1.0 S...",NaN,NaN,True

Fill in the NaN hits caused by the merging of the results.

In [10]:
disqus_df = disqus_df.fillna(False)

Count the pages with Disqus in their HTML

In [11]:
len(disqus_df)

21755

Note that this finds more hits than grep. It seems the csv file is too large for grep. the same query in awk does give the expected number of results

```grep -i -n 'disqus\.js' C/Users/rjans/Desktop/ARCH/Data/disqus.csv```  
vs  
```awk -e '/disqus\.js/ {print $0}' C/Users/rjans/Desktop/ARCH/Data/html-file-information-German.csv```

Show the unique domains

In [12]:
print(disqus_df['url'].apply(ah.to_domain).unique())

['aljazeera.com' 'cnn.com' 'abcnews.go.com' 'csmonitor.com' 'mirror.co.uk'
 'independent.co.uk' 'telegraph.co.uk' 'rawstory.com'
 'washingtontimes.com' 'globalnews.ca' 'cnbc.com' 'foxnews.com'
 'huffingtonpost.com' 'time.com' 'npr.org']

# Display results

Add year and domain collumns

In [13]:
disqus_df["year"] = disqus_df["crawl_date"].div(10000).round().astype(int)
disqus_df["domain"] = disqus_df['url'].apply(ah.to_domain)

Display value_counts as dataframe

In [14]:
#pd.set_option('display.max_rows', 500)
results = pd.DataFrame(disqus_df[['year','domain','disqus_embed','disqus_identifier','disqus_thread']].value_counts().sort_index()).reset_index()
results.rename(columns={0:'count'}, inplace=True)
results

,year,domain,disqus_embed,disqus_identifier,disqus_thread,count
0,2010,cnn.com,True,False,True,60
1,2010,csmonitor.com,True,False,True,1
2,2010,foxnews.com,False,False,True,3
3,2010,independent.co.uk,False,False,True,3
4,2010,rawstory.com,False,False,True,14
...,...,...,...,...,...,...
111,2020,abcnews.go.com,False,True,False,549
112,2020,rawstory.com,True,False,True,747
113,2020,telegraph.co.uk,False,False,True,61
114,2021,abcnews.go.com,False,True,False,282
115,2021,rawstory.com,True,False,True,353

In [15]:
disqus_embed_hits = results[results.disqus_embed == True]
disqus_identifier_hits = results[results.disqus_identifier == True]
disqus_thread_hits = results[results.disqus_thread == True]

disqus_embed_and_identifier_hits = ah.dataframe_intersection(disqus_embed_hits,disqus_identifier_hits)
disqus_embed_and_thread_hits = ah.dataframe_intersection(disqus_embed_hits,disqus_thread_hits)
disqus_identifier_and_thread_hits = ah.dataframe_intersection(disqus_identifier_hits,disqus_identifier_hits)

print("disqus_embed_hits: ", len(disqus_embed_hits))
print("disqus_identifier_hits: ", len(disqus_identifier_hits))
print("disqus_thread_hits: ", len(disqus_thread_hits))

print("disqus_embed_and_identifier_hits: ", len(disqus_embed_and_identifier_hits))
print("disqus_embed_and_thread_hits: ", len(disqus_embed_and_thread_hits))
print("disqus_identifier_and_thread_hits: ", len(disqus_identifier_and_thread_hits))

disqus_embed_hits:  50
disqus_identifier_hits:  38
disqus_thread_hits:  109
disqus_embed_and_identifier_hits:  15
disqus_embed_and_thread_hits:  50
disqus_identifier_and_thread_hits:  38

Display presence of Disqus per domain per year

In [16]:
domains = list(results.domain.unique())

for domain in domains:
    years = list(results[results.domain == domain].year.unique())
    print(domain, "uses Disqus is in:", years)

cnn.com uses Disqus is in: [2010, 2011, 2012, 2013, 2014, 2015, 2016]
csmonitor.com uses Disqus is in: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
foxnews.com uses Disqus is in: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
independent.co.uk uses Disqus is in: [2010, 2011, 2012, 2013]
rawstory.com uses Disqus is in: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
telegraph.co.uk uses Disqus is in: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
aljazeera.com uses Disqus is in: [2011, 2012, 2013, 2014, 2015]
washingtontimes.com uses Disqus is in: [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
npr.org uses Disqus is in: [2012, 2013, 2014, 2015, 2016]
time.com uses Disqus is in: [2012]
abcnews.go.com uses Disqus is in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
cnbc.com uses Disqus is in: [2013, 2014, 2015, 2016]
globalnews.ca uses Disqus is in: [2013, 2014, 2015]
huffingtonpost.com uses Disqus is in: [2015, 2017]
mirror.co.uk uses Disqus is in: [2015]

Display number of uniqe sites per year that use Disqus

In [17]:
sites_per_year = pd.DataFrame(results[["year", "domain"]].drop_duplicates()["year"].value_counts().sort_index()).reset_index()
sites_per_year.columns = ["year", "sites"]
sites_per_year

    year  sites
0   2010      6
1   2011      8
2   2012     10
3   2013     12
4   2014     11
5   2015     13
6   2016      9
7   2017      7
8   2018      5
9   2019      4
10  2020      3
11  2021      2

Save the results in a seperate CSV (only needs to be done once)

In [18]:
#disqus_df.to_csv("disqus.csv")

Convert **content** column to single line.

In [19]:
for line in disqus_df.content:
    disqus_df.content = disqus_df.content.replace(line, " ".join(line.splitlines()))

Save as single line content in a seperate CSV (only needs to be done once)

In [20]:
#disqus_df.to_csv("disqus_single_line.csv")

# For the found pages extract the comment structure

Extract the disqus comments from the div tag with ```id="disqus_thread"```

In [21]:
comments = []
for line in disqus_df.content:
    soup = BeautifulSoup(line, 'html.parser')
    try:
        comments.append(soup.find('div', attrs={'id': 'disqus_thread'}).prettify()) # .prettify() makes the HTML of the comments more human readable
    except AttributeError:
        comments.append("")
        
disqus_df['comments'] = comments

In [22]:
#pd.set_option('display.max_colwidth', 500) 
disqus_df[['crawl_date','url','comments']]

,crawl_date,url,comments
0,20140502,http://www.aljazeera.com/news/middleeast/2014/...,"<div id=""disqus_thread"">\n</div>\n"
1,20140501,http://www.aljazeera.com/news/middleeast/2014/...,"<div id=""disqus_thread"">\n</div>\n"
2,20140502,http://www.aljazeera.com/news/middleeast/2014/...,"<div id=""disqus_thread"">\n</div>\n"
3,20140531,http://www.aljazeera.com/news/middleeast/2014/...,"<div id=""disqus_thread"">\n</div>\n"
4,20150102,http://www.aljazeera.com/news/middleeast/2014/...,"<div id=""disqus_thread"">\n</div>\n"
...,...,...,...
21750,20120104,http://www.independent.co.uk/news/media/online...,
21751,20120201,http://www.independent.co.uk/news/media/online...,
21752,20110911,http://www.independent.co.uk/arts-entertainmen...,
21753,20110409,http://www.independent.co.uk/environment/clima...,
21754,20111028,http://www.independent.co.uk/extras/indybest/f...,

# Add an internet archive URL to the dataframe

In [23]:
ah.add_ia_url(disqus_df)

Filter out comment fields that are so short that they do net contain comments (based on the length).  
32 characters is currently the shortest

In [24]:
#pd.set_option('display.max_colwidth', 50)
disqus_df[disqus_df['comments'].apply(lambda x: len(x)>32)][['comments','IA_url']]

,comments,IA_url
669,"<div class=""loading"" id=""disqus_thread"">\n</di...",https://web.archive.org/web/20150505/http://ab...
670,"<div class=""loading"" id=""disqus_thread"">\n</di...",https://web.archive.org/web/20150323/http://ab...
671,"<div class=""loading"" id=""disqus_thread"">\n</di...",https://web.archive.org/web/20150301/https://a...
673,"<div class=""loading"" id=""disqus_thread"">\n</di...",https://web.archive.org/web/20150401/https://a...
674,"<div class=""loading"" id=""disqus_thread"">\n</di...",https://web.archive.org/web/20150101/https://a...
...,...,...
19346,"<div id=""disqus_thread"">\n <div id=""dsq-conten...",https://web.archive.org/web/20100102/http://ra...
19347,"<div id=""disqus_thread"">\n <div id=""dsq-conten...",https://web.archive.org/web/20100102/http://ra...
19348,"<div id=""disqus_thread"">\n <div id=""dsq-conten...",https://web.archive.org/web/20100102/http://ra...
19349,"<div id=""disqus_thread"">\n <div id=""dsq-conten...",https://web.archive.org/web/20100102/http://ra...
19350,"<div id=""disqus_thread"">\n <div id=""dsq-conten...",https://web.archive.org/web/20100102/http://ra...

Display a specific comment

In [25]:
ah.display_comment(disqus_df, 0)

<div id="disqus_thread">
</div>

# Comparing dataframes

Creates a second dataframe with a different regex query

In [26]:
#disqus_df_2 = ah.filter_csv_content_regex("data/World/html-file-information.csv", "(?i)disqus\.js", 10000)

Show the overlap of two dataframes

In [27]:
#ah.dataframe_intersection(disqus_df[['crawl_date','url']],disqus_df_2[['crawl_date','url']])

Show the difference between the two datasets. So only shows results that are in one dataset but not in both.

In [28]:
#ah.dataframe_difference(disqus_df[['crawl_date','url']],disqus_df_2[['crawl_date','url']])

# Testing scratchbook

Reloads the ARCH Helper module after update.  
Normally this would be done with autoreload Ipython magic, but for some reason it does not work.

In [29]:
import importlib
importlib.reload(ah)
import ARCH_Helper as ah

In [30]:
print(len(disqus_embed_df), len(disqus_identifier_df), len(disqus_thread))

6375 9720 20202

In [31]:
ah.dataframe_intersection(disqus_embed_df[['crawl_date','url']],disqus_identifier_df[['crawl_date','url']])

      crawl_date                                                url
0       20150505  http://abcnews.go.com/Politics/bill-clinton-ca...
1       20150323  http://abcnews.go.com/Politics/Business/story?...
2       20150301  https://abcnews.go.com/Politics/carly-fiorina-...
3       20140201  http://abcnews.go.com/Politics/christie-ally-a...
4       20150401  https://abcnews.go.com/Politics/disturbing-son...
...          ...                                                ...
3338    20140401  http://www.washingtontimes.com/news/2014/mar/3...
3339    20140401  http://www.washingtontimes.com/news/2014/mar/3...
3340    20140530  http://www.washingtontimes.com/news/2014/mar/3...
3341    20140401  http://www.washingtontimes.com/news/2014/mar/3...
3342    20140402  http://www.washingtontimes.com/news/2014/mar/3...

[3343 rows x 2 columns]

In [32]:
results[results.domain == "cnn.com"]

    year   domain  disqus_embed  disqus_identifier  disqus_thread  count
0   2010  cnn.com          True              False           True     60
8   2011  cnn.com          True              False           True     58
18  2012  cnn.com          True              False           True     66
33  2013  cnn.com          True              False           True    144
50  2014  cnn.com          True              False           True    171
66  2015  cnn.com          True              False           True      4
80  2016  cnn.com         False              False           True      1